<div id="container">
  <section id="footer">
    <p>@ 2025, Joanne Lee.</p>
  </section>
</div>

<style>
  #footer {
    height: 10em;
    background-color: #485b84;
    color: #fcf8f6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
