<div id="container">
  <section id="footer">
    <h1>JINA | 지나</h1>
    <a href="https://joanneynlee.com/">Created by Joanne Lee.</a>
  </section>
</div>

<style>
  #footer {
    display: flex;
    flex-direction: column;
    height: 6em;
    background-color: #2d3953;
    color: #fcf8f6;
    align-items: center;
    justify-content: center;
    padding: 3em 4em 4em 4em;
  }

  a {
    color: #ead8bf;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
