<div id="container">
  <section id="header">
    <a href="/"><img src="/Logo.gif" alt="Logo" /></a>
    <ul id="nav">
      <li class="navlink"><a href="/chapters/">chapters</a></li>
      <li class="navlink"><a href="/about/">about</a></li>
      <li class="navlink"><a href="/sources/">sources</a></li>
    </ul>
  </section>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    height: 180px;
  }

  #container {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  main {
    text-align: center;
  }

  #nav {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  .navlink {
    font-size: 20px;
    cursor: pointer;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #2d3953;
  }

  a:hover {
    font-weight: 500;
  }
</style>
