---
import Chapters from "./Chapters.astro";
import About from "./About.astro";
import Sources from "./Sources.astro";
---

<div id="container">
  <main>
    <section id="header">
      <img src="public/assets/logo.gif" alt="Logo" />
      <ul id="nav">
        <li class="navlink">chapters</li>
        <li class="navlink">about</li>
        <li class="navlink">sources</li>
      </ul>
    </section>
  </main>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    height: 180px;
  }

  #container {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  main {
    text-align: center;
  }

  #nav {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  .navlink {
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    color: #7b87a4;
  }

  .navlink:hover {
    color: #485b84;
    font-weight: 500;
  }
</style>
