<section class="gallery"><button id="next">&#62</button></section>

<style>
  #next {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    border: solid #7b87a4;
    width: 2em;
    height: 2em;
    cursor: pointer;
    color: #7b87a4;
    background-color: #fcf8f6;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    padding: 0; /* ensure content is centered perfectly */
  }

  #next:hover {
    background-color: #7b87a4;
    border-color: #7b87a4;
    color: #fcf8f6;
    font-weight: 500;
  }
</style>
