---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>JINA</title>
  </head>
  <body>
    <Header />
    <main class="fade-init">
      <slot />
    </main>

    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const main = document.querySelector("main");
        main?.classList.add("fade-in");
        main?.classList.remove("fade-init");
      });
    </script>
    <Footer />
  </body>
</html>
