---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>JINA</title>
  </head>
  <body>
    <Header />
    <main class="fade-init">
      <slot />
    </main>

    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const main = document.querySelector("main");
        main?.classList.add("fade-in");
        main?.classList.remove("fade-init");
      });
    </script>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fcf8f6;
    font-family: "Space Grotesk", sans-serif;
    color: #485b84;
    justify-content: center;
  }

  .fade-init {
    opacity: 0;
    transform: translateY(10px);
  }

  .fade-in {
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.6s ease,
      transform 0.6s ease;
  }
</style>
