---
import Layout from "../layouts/Layout.astro";
import Info from "../content/Info.md";
import Gallery from "../components/Gallery.astro";
---

<Layout>
  <div id="about">
    <Info />
    <h1>Concept Sketches</h1>
    <Gallery />
  </div>
</Layout>

<style>
  #about {
    padding: 3em 6em 6em 6em;
    line-height: 1.8;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  @media (max-width: 640px) {
    #about {
      padding: 1.5em 1.25em;
      max-width: 100%;
    }
  }
</style>
