---
import Layout from "../layouts/Layout.astro";
import Info from "../content/Info.md";
---

<Layout>
  <div id="about">
    <Info />
  </div>
</Layout>

<style>
  #about {
    padding: 3em 6em 6em 6em;
    line-height: 1.8;
    box-sizing: border-box;
    word-wrap: break-word;
  }
</style>
