---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div id="about">
    <h2>Chapters</h2>
  </div>
</Layout>

<style>
  #about {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
