---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div id="home">
    <img src="/Hero.png" alt="Hero" class="hero" />
    <button>start</button>
  </div>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const img = document.querySelector(".hero");
    if (img) {
      img.addEventListener("contextmenu", (e) => e.preventDefault());
    }
  });
</script>

<style>
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }

  .hero {
    width: 100%;
    max-width: 40rem; /* Keeps it from getting too big on large screens */
    height: auto;
    object-fit: contain;
  }
  button {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    border-color: #7b87a4;
    border-width: 1px;
    border: solid;
    padding: 1em 2em;
    cursor: pointer;
    color: #7b87a4;
    background-color: #fcf8f6;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #7b87a4;
    border-color: #7b87a4;
    color: #fcf8f6;
    font-weight: 500;
  }
</style>
