---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <img src="/Hero.png" alt="Hero" class="hero" />
  <button>start</button>
</Layout>

<style>
  .hero {
  width: 100%;
  max-width: 40rem; /* Keeps it from getting too big on large screens */
  height: auto;
  margin: 0 auto;
  display: block;
  padding-top: 2em;
}
  button {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    display: flex;
    justify-self: center;
    align-self: center;
    border-color: #7B87A4
    border-width: 1px;
    border: solid;
    padding: 1em 2em;
    margin: 0 2em 2em 2em;
    cursor: pointer;
    color: #7B87A4;
    background-color: #fcf8f6;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #7B87A4;
    border-color: #7B87A4;
    color: #fcf8f6;
    font-weight: 500;
  }
</style>
