---
import Layout from "../layouts/Layout.astro";
import References from "../content/References.md";
---

<Layout>
  <div id="sources"><References /></div>
</Layout>

<style>
  #sources {
    padding: 3em 6em 6em 6em;
  }
</style>
