---
import Layout from "../layouts/Layout.astro";
import References from "../content/References.md";
---

<Layout>
  <div id="sources"><References /></div>
</Layout>

<style>
  #sources {
    justify-content: center;
    align-items: center;
    padding: 3em;
  }
</style>
