---
import Layout from "../layouts/Layout.astro";
import References from "../content/References.md";
---

<Layout>
  <div id="sources"><References /></div>
</Layout>

<style>
  #sources {
    line-height: 1.8;
    padding: 3em 6em 6em 6em;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  @media (max-width: 640px) {

  #sources {
    padding: 1.5em 1.25em;
    max-width: 100%;
  }
}
</style>
