---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import References from "../content/References.md";
---

<Layout>
  <Header />
  <div id="sources"><References /></div>
</Layout>

<style>
  #sources {
    justify-content: center;
    align-items: center;
    padding: 0% 10% 10% 10%;
  }
</style>
